.input-group{
	margin-top: 10px; 
}
.btn-submit{
	margin-top: 10px;
	width: 150px;
}
.select-category{
	margin-bottom: 10px;
}
.input-group.title , .input-group.tags{
	width: 500px;
}
.show-alert{
	display: block !important; 
}